@import "tailwindcss";

.world-entity {
    @apply absolute;
    @apply transition-all duration-[var(--duration-normal)] ease-[var(--ease-default)];
    image-rendering: pixelated;
}


.world-entity__image {
    @apply w-full h-full object-contain;
    image-rendering: pixelated;
}

.world-entity--computer:hover,
.world-entity--videoGame:hover,
.world-entity--catJoao:hover,
.world-entity--catMaria:hover,
.world-entity--backpack:hover {
    cursor: url('../../../assets/icons/cursor/cursor_hand_pointer.png'), pointer;
}

.world-entity--catJoao .world-entity__sprite,
.world-entity--catMaria .world-entity__sprite {
    @apply absolute left-0 bottom-0 h-full w-full bg-no-repeat;
    image-rendering: pixelated;
    @apply bg-[size:400%_100%] bg-[position:0_0];
    will-change: background-image, background-position;
    @apply animate-[cat-anim_0.8s_step-end_infinite];
}

.world-entity--backpack .world-entity__sprite {
    @apply absolute left-0 bottom-0 h-full w-full bg-no-repeat;
    image-rendering: pixelated;
    @apply bg-[size:200%_100%] bg-[position:0_0];
    will-change: background-image, background-position;
    @apply animate-[backpack-anim_1.2s_step-end_infinite];
}

.world-entity__love-icon {
    /* Dimensions from .game-canvas__chat-indicator */
    @apply absolute -top-[45px] h-[45px] w-[55px] bg-contain bg-center bg-no-repeat z-50;
    left: calc(50% - 27.5px);
    transform-origin: bottom center;
    image-rendering: pixelated;
    @apply animate-[pop-anim_0.3s_ease-out];
}

@keyframes cat-anim {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 33.3333% 0;
    }

    50% {
        background-position: 66.6666% 0;
    }

    75% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes pop-anim {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backpack-anim {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}