@import "tailwindcss";
@import "../../../styles/globals.css";

/* =========================
   HUD CONTAINER
========================= */

.game-hud {
    @apply fixed top-0 inset-x-0 z-50 flex items-center justify-center px-4 py-3 pointer-events-none;
}


/* =========================
   COORDINATES (TOP LEFT)
========================= */

.game-hud__coords {
    @apply flex items-center px-3 py-1.5 text-lg text-(--gray-300) bg-(--dark-800)/50 backdrop-blur-md select-none pointer-events-none;
}

/* =========================
   CONTROLS (TOP RIGHT)
========================= */

.game-hud__controls {
    @apply flex items-center gap-2 pointer-events-auto;
}

/* =========================
   BUTTONS
========================= */

.game-hud__control-btn {
    @apply flex items-center justify-center w-10 h-10 bg-(--blue-500) transition-colors duration-150 hover:bg-(--blue-700) pointer-events-auto focus-visible:outline-2 focus-visible:outline-dotted focus-visible:outline-(--gray-300);

}

.game-hud__control-btn.is-disabled {
    @apply opacity-40;
}

/* =========================
   ICONS
========================= */

.game-hud svg {
    @apply text-(--gray-300) scale-125;
}