@import "tailwindcss";
@import "../../../styles/globals.css";

.volume-control {
    @apply relative h-full flex items-center;
}

.volume-control__btn {
    @apply flex items-center justify-center p-0 h-full w-8 bg-transparent hover:bg-(--warm-200) active:bg-(--warm-300) cursor-pointer select-none;
}

.volume-control__popup {
    @apply absolute bottom-full mb-1 left-1/2 -translate-x-1/2 bg-(--gray-500) border-2 border-t-(--gray-300) border-l-(--gray-300) border-r-(--dark-800) border-b-(--dark-800) p-2 z-10000 shadow-md w-10 h-[120px];
}

.volume-control__slider-wrapper {
    @apply h-full w-full flex flex-col items-center justify-between gap-2;
}

.volume-control__slider {
    @apply appearance-none w-2 bg-(--dark-800) outline-none rounded-none h-20 [writing-mode:vertical-lr];
    direction: rtl;
}

.volume-control__slider::-webkit-slider-thumb {
    @apply appearance-none w-5 h-3 bg-(--gray-500) border-2 border-t-(--gray-300) border-l-(--gray-300) border-r-(--dark-800) border-b-(--dark-800) cursor-pointer shadow-sm;
}

.volume-control__slider::-moz-range-thumb {
    @apply w-5 h-3 bg-(--gray-500) border-2 border-t-(--gray-300) border-l-(--gray-300) border-r-(--dark-800) border-b-(--dark-800) cursor-pointer shadow-sm rounded-none;
}

.volume-control__icon {
    @apply opacity-80;
}