@import "tailwindcss";

.boot-screen {
    @apply bg-(--dark-800) text-(--gray-300) min-h-[100dvh] w-screen p-8 pb-[env(safe-area-inset-bottom)] text-lg flex flex-col justify-start;
}

.boot-screen__text {
    @apply whitespace-pre-wrap;
}

.boot-screen__cursor {
    @apply animate-pulse;
}

pre {
    font-family: var(--font-tiny);
}