@import "tailwindcss";
@import "../../../styles/globals.css";


.desktop__skip-link {
  @apply absolute left-0 top-0 bg-(--dark-800) text-(--gray-300) px-4 py-2 z-[9999] font-(--font-tiny) text-base;
  @apply -translate-y-full transition-transform duration-200 ease-out;
}

.desktop__skip-link:focus {
  @apply translate-y-0 outline-2 outline-(--gray-300) outline-offset-2;
}


.desktop {
  @apply overflow-hidden w-full relative h-[100dvh] pb-[env(safe-area-inset-bottom)] bg-(--blue-900);
}

.desktop__inner {
  @apply w-full h-full relative flex flex-col select-none outline-none;
}


.desktop__icons-layer {
  @apply flex-1 relative w-full h-full z-0 overflow-auto;
}

.desktop__taskbar-layer {
  @apply relative z-[200];
}


.desktop__selection-box {
  @apply absolute border border-dotted border-(--gray-300) z-50 pointer-events-none;
}


.desktop__context-menu-overlay {
  @apply fixed inset-0 z-[100] bg-transparent border-none outline-none cursor-default w-full h-full block p-0 m-0 appearance-none;
}

.desktop__context-menu {
  @apply fixed z-[101] bg-(--gray-500) py-1 flex flex-col min-w-[9.375rem];
  @apply border-4 border-t-(--gray-300) border-l-(--gray-300) border-r-(--dark-800) border-b-(--dark-800);
  cursor: url('../../../assets/icons/cursor/cursor_pointer.png'), default;
}

.desktop__context-menu-item {
  @apply px-4 py-1 text-left hover:bg-(--blue-900) hover:text-(--gray-300) text-lg;
  @apply focus:bg-(--blue-900) focus:text-(--gray-300) focus:outline-none;
  cursor: url('../../../assets/icons/cursor/cursor_pointer.png'), default;
}