@import "tailwindcss";
@import "../../../styles/globals.css";

/* =========================
   BLOCK: LOADING-SPINNER
========================= */

.loading-spinner {
    @apply w-full h-full flex items-center justify-center bg-(--dark-800) text-(--gray-300) text-lg;
}