@import "../../styles/globals.css";

.calculator-container {
  @apply flex flex-col h-full bg-(--gray-500) p-[var(--space-2)] select-none font-(--font-tiny);
}

.calculator-display {
  @apply bg-(--gray-500) text-(--dark-800) mb-[var(--space-3)] px-[var(--space-2)] py-[var(--space-1)] text-right text-xl truncate h-[var(--space-10)] flex items-center justify-end tracking-widest;
  box-shadow: inset 4px 4px 0px var(--dark-800), inset -4px -4px 0px var(--gray-300);
}

.calculator-main {
  @apply flex gap-[var(--space-2)] flex-1;
}

.calculator-memory {
  @apply flex flex-col gap-[var(--space-1)] w-11;
}

.calculator-memory-spacer {
  @apply h-[var(--space-8)] mb-[var(--space-1)];
}

.calculator-grid {
  @apply flex-1 grid grid-cols-4 gap-[var(--space-1)];
}

.calc-btn {
  @apply text-base h-8 px-1 flex items-center justify-center;
}

.calc-btn-bold {
  @apply font-bold;
}

.calc-btn-red {
  @apply text-(--rose-700);
}

.calc-btn-blue {
  @apply text-(--blue-900);
}

.calc-btn-span-2 {
  @apply col-span-2;
}

.calc-btn-span-4 {
  @apply col-span-4;
}