@import "tailwindcss";
@import "../../../styles/globals.css";

.retro-controls {
    @apply fixed bottom-0 left-0 w-full h-14 sm:h-16 bg-(--dark-800) border-t-4 border-(--gray-700) z-50 flex items-center justify-center gap-4 sm:gap-12 select-none;
}

.retro-controls__group {
    @apply flex items-center gap-3;
}

.retro-controls__btn-wrapper {
    @apply flex items-center gap-3 bg-(--dark-800) border-none p-0;
}

.retro-controls__key {
    @apply w-8 h-8 rounded-sm flex items-center justify-center text-lg border-b-4 border-r-4 active:border-0 text-(--dark-800);
}

.retro-controls__key--blue {
    @apply bg-(--blue-500) border-(--blue-700);
}

.retro-controls__key--green {
    @apply bg-(--green-500) border-(--green-700);
}

.retro-controls__key--red {
    @apply bg-(--rose-500) border-(--rose-700);
}

.retro-controls__label {
    @apply hidden sm:block font-(--font-tiny) text-2xl text-(--gray-300);
}