@import "tailwindcss";
@import "../../../styles/globals.css";

/* =========================
   BLOCK: CLOCK
========================= */

.clock {
    @apply h-full px-2 flex items-center justify-center min-h-20 text-lg;
}