@import "../../styles/globals.css";


.camera-container {
    @apply flex flex-col h-full bg-(--gray-500) p-1 select-none;
}


.camera-display {
    @apply flex-1 bg-(--dark-800) border-4 border-(--gray-600) border-b-(--gray-300) border-r-(--gray-300) flex items-center justify-center mb-2 overflow-hidden relative;
}

.camera-canvas {
    @apply w-full h-full object-contain;
}

.camera-overlay-text {
    @apply absolute text-(--gray-300) text-lg opacity-50;
}


.camera-controls {
    @apply flex justify-between bg-(--gray-500) p-1 border border-t-(--gray-300) border-l-(--gray-300) border-r-(--gray-600) border-b-(--gray-600);
}

.camera-controls-group {
    @apply flex gap-1 w-full;
}

.camera-btn-snap {
    @apply font-bold w-full flex items-center justify-center;
}

.camera-icon-on {
    @apply text-(--green-600);
}

.camera-icon-off {
    @apply text-(--red-600);
}


.camera-status-bar {
    @apply mt-1 text-lg text-(--gray-600) px-1 truncate font-(--font-tiny);
}

.camera-video--hidden {
    @apply hidden;
}

.camera-icon--snap {
    @apply mr-1;
}